#hero-section{
    background-image: url('../images/herobg.png');
    background-size: 100% 100%;
    height: 606px;
}


.hero-flex{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.icon-flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 0.5%;
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 2.5%;
}

#titles{
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-content: center;
}



.copy{
    font-size: 3.2rem;
    line-height: 6rem;
    display: block;
    margin: 7% auto;
    width: 770px;
    height: 159px;
    text-align: center;
    margin-top: 3%;
}